/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
	transition all 0.5s
	transform translateX(-120%) rotate(1000deg)
	max-height 0
	padding 0 !important
	&.order-enter-active
		max-height 60px
		padding 2rem 0 !important
		transform translateX(0) rotate(450deg);
		

.order-leave
	transition all 1.5s
	transform translateX(0)
	opacity 0.5
	&.order-leave-active
		max-height 0
		padding 0 !important
		transform translateX(-120%)
		text-decoration line-through
	